<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <base href="http://localhost:8000" />

   {{#if user.image}}
   <link rel="shortcut icon" href="{{ options.host }}/_/api/user/image/{{ user.image }}" type="image/x-icon" />
   <link rel="icon" href="{{ options.host }}/_/api/user/image/{{ user.image }}" type="image/webp" />
   {{else}}
   <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon" />
   <link rel="icon" href="/icons/favicon.ico" type="image/png" />
   {{/if}}
   {{#if page.description }}
   <meta name="description" content="{{ page.description }}" />
   {{else}}
   <meta name="description" content="See my personal link page" />
   {{/if}}

   <meta property="og:title" content="iamone" />
   <meta property="og:site_name" content="iamone" />
   <meta property="og:type" content="website" />
   <meta property="og:url" content="https://iamone.link" />
   <meta property="og:image" content="/icons/open-graph-thumb.png" />
   <meta property="og:locale" content="en_IN" />
   <meta property="og:description" content="Create your personal link page." />
   <meta name="application-name" content="iamone" />

   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" />
   <link rel="stylesheet" href="/css/page/master.css" />
   <link rel="stylesheet" href="/css/page/default.css" />
   <style lang="css" type="text/css">{{ css }}</style>
   <script src="/js/page/icons.js"></script>
   {{#if page.title }}
   <title>{{ page.title }}</title>
   {{else}}
   <title>iamone</title>
   {{/if}}
</head>

<body class="page__body">
   <div class="page__content">
      {{{ body }}}

      <a href="https://developar.in" target="_blank" class="page__logo" title="developar.in">
         <svg class="page__logo-image" viewBox="0 0 122 44" xmlns="http://www.w3.org/2000/svg">
            <path
               d="M7.74869 39V23.112H14.4447C15.3887 23.112 16.2927 23.296 17.1567 23.664C18.0367 24.016 18.8207 24.536 19.5087 25.224C20.1967 25.912 20.7407 26.744 21.1407 27.72C21.5407 28.696 21.7407 29.808 21.7407 31.056C21.7407 32.304 21.5407 33.416 21.1407 34.392C20.7407 35.368 20.1967 36.2 19.5087 36.888C18.8207 37.576 18.0367 38.104 17.1567 38.472C16.2927 38.824 15.3887 39 14.4447 39H7.74869ZM9.54869 37.296H14.3727C15.5087 37.296 16.4927 37.008 17.3247 36.432C18.1567 35.856 18.7967 35.096 19.2447 34.152C19.7087 33.208 19.9407 32.176 19.9407 31.056C19.9407 29.92 19.7087 28.88 19.2447 27.936C18.7967 26.992 18.1567 26.24 17.3247 25.68C16.4927 25.104 15.5087 24.816 14.3727 24.816H9.54869V37.296ZM29.5677 39.192C28.3517 39.192 27.2877 38.92 26.3757 38.376C25.4637 37.816 24.7517 37.064 24.2397 36.12C23.7437 35.176 23.4957 34.136 23.4957 33C23.4957 31.848 23.7357 30.808 24.2157 29.88C24.6957 28.936 25.3837 28.192 26.2797 27.648C27.1757 27.088 28.2317 26.808 29.4477 26.808C30.6797 26.808 31.7357 27.088 32.6157 27.648C33.5117 28.192 34.1997 28.936 34.6797 29.88C35.1597 30.808 35.3997 31.848 35.3997 33V33.72H25.3437C25.4397 34.424 25.6637 35.072 26.0157 35.664C26.3837 36.24 26.8717 36.704 27.4797 37.056C28.0877 37.392 28.7917 37.56 29.5917 37.56C30.4397 37.56 31.1517 37.376 31.7277 37.008C32.3037 36.624 32.7517 36.136 33.0717 35.544H35.0397C34.6237 36.616 33.9597 37.496 33.0477 38.184C32.1517 38.856 30.9917 39.192 29.5677 39.192ZM25.3677 32.04H33.5277C33.3677 31.016 32.9357 30.16 32.2317 29.472C31.5277 28.784 30.5997 28.44 29.4477 28.44C28.2957 28.44 27.3677 28.784 26.6637 29.472C25.9757 30.16 25.5437 31.016 25.3677 32.04ZM40.8631 39L36.1591 27H38.1271L41.9191 37.08L45.6871 27H47.6551L42.9751 39H40.8631ZM54.4349 39.192C53.2189 39.192 52.1549 38.92 51.2429 38.376C50.3309 37.816 49.6189 37.064 49.1069 36.12C48.6109 35.176 48.3629 34.136 48.3629 33C48.3629 31.848 48.6029 30.808 49.0829 29.88C49.5629 28.936 50.2509 28.192 51.1469 27.648C52.0429 27.088 53.0989 26.808 54.3149 26.808C55.5469 26.808 56.6029 27.088 57.4829 27.648C58.3789 28.192 59.0669 28.936 59.5469 29.88C60.0269 30.808 60.2669 31.848 60.2669 33V33.72H50.2109C50.3069 34.424 50.5309 35.072 50.8829 35.664C51.2509 36.24 51.7389 36.704 52.3469 37.056C52.9549 37.392 53.6589 37.56 54.4589 37.56C55.3069 37.56 56.0189 37.376 56.5949 37.008C57.1709 36.624 57.6189 36.136 57.9389 35.544H59.9069C59.4909 36.616 58.8269 37.496 57.9149 38.184C57.0189 38.856 55.8589 39.192 54.4349 39.192ZM50.2349 32.04H58.3949C58.2349 31.016 57.8029 30.16 57.0989 29.472C56.3949 28.784 55.4669 28.44 54.3149 28.44C53.1629 28.44 52.2349 28.784 51.5309 29.472C50.8429 30.16 50.4109 31.016 50.2349 32.04ZM62.4663 39V22.2H64.2663V39H62.4663ZM72.5961 39.192C71.3801 39.192 70.3241 38.92 69.4281 38.376C68.5321 37.816 67.8441 37.064 67.3641 36.12C66.8841 35.176 66.6441 34.136 66.6441 33C66.6441 31.848 66.8841 30.808 67.3641 29.88C67.8441 28.936 68.5321 28.192 69.4281 27.648C70.3241 27.088 71.3801 26.808 72.5961 26.808C73.8281 26.808 74.8841 27.088 75.7641 27.648C76.6601 28.192 77.3481 28.936 77.8281 29.88C78.3081 30.808 78.5481 31.848 78.5481 33C78.5481 34.136 78.3081 35.176 77.8281 36.12C77.3481 37.064 76.6601 37.816 75.7641 38.376C74.8841 38.92 73.8281 39.192 72.5961 39.192ZM72.5961 37.56C73.4921 37.56 74.2441 37.352 74.8521 36.936C75.4761 36.52 75.9481 35.968 76.2681 35.28C76.5881 34.576 76.7481 33.816 76.7481 33C76.7481 32.168 76.5881 31.408 76.2681 30.72C75.9481 30.032 75.4761 29.48 74.8521 29.064C74.2441 28.648 73.4921 28.44 72.5961 28.44C71.7161 28.44 70.9641 28.648 70.3401 29.064C69.7161 29.48 69.2441 30.032 68.9241 30.72C68.6041 31.408 68.4441 32.168 68.4441 33C68.4441 33.816 68.6041 34.576 68.9241 35.28C69.2441 35.968 69.7161 36.52 70.3401 36.936C70.9641 37.352 71.7161 37.56 72.5961 37.56ZM80.935 43.752V27H82.735V28.92C83.183 28.264 83.759 27.752 84.463 27.384C85.183 27 86.039 26.808 87.031 26.808C88.199 26.808 89.215 27.088 90.079 27.648C90.959 28.192 91.639 28.936 92.119 29.88C92.599 30.808 92.839 31.848 92.839 33C92.839 34.136 92.599 35.176 92.119 36.12C91.639 37.064 90.959 37.816 90.079 38.376C89.215 38.92 88.199 39.192 87.031 39.192C86.039 39.192 85.183 39 84.463 38.616C83.759 38.216 83.183 37.696 82.735 37.056V43.752H80.935ZM86.791 37.56C87.687 37.56 88.447 37.352 89.071 36.936C89.711 36.52 90.199 35.968 90.535 35.28C90.871 34.576 91.039 33.816 91.039 33C91.039 32.168 90.871 31.408 90.535 30.72C90.199 30.032 89.711 29.48 89.071 29.064C88.447 28.648 87.687 28.44 86.791 28.44C85.911 28.44 85.159 28.648 84.535 29.064C83.911 29.48 83.439 30.032 83.119 30.72C82.799 31.408 82.639 32.168 82.639 33C82.639 33.816 82.799 34.576 83.119 35.28C83.439 35.968 83.911 36.52 84.535 36.936C85.159 37.352 85.911 37.56 86.791 37.56ZM100.272 39.192C99.1044 39.192 98.0804 38.92 97.2004 38.376C96.3364 37.816 95.6644 37.064 95.1844 36.12C94.7044 35.176 94.4644 34.136 94.4644 33C94.4644 31.848 94.7044 30.808 95.1844 29.88C95.6644 28.936 96.3364 28.192 97.2004 27.648C98.0804 27.088 99.1044 26.808 100.272 26.808C101.264 26.808 102.112 27 102.816 27.384C103.536 27.768 104.12 28.288 104.568 28.944V27H106.368V39H104.568V37.08C104.12 37.72 103.536 38.232 102.816 38.616C102.112 39 101.264 39.192 100.272 39.192ZM100.512 37.56C101.408 37.56 102.16 37.352 102.768 36.936C103.392 36.52 103.864 35.968 104.184 35.28C104.504 34.576 104.664 33.816 104.664 33C104.664 32.168 104.504 31.408 104.184 30.72C103.864 30.032 103.392 29.48 102.768 29.064C102.16 28.648 101.408 28.44 100.512 28.44C99.6324 28.44 98.8724 28.648 98.2324 29.064C97.5924 29.48 97.1044 30.032 96.7684 30.72C96.4324 31.408 96.2644 32.168 96.2644 33C96.2644 33.816 96.4324 34.576 96.7684 35.28C97.1044 35.968 97.5924 36.52 98.2324 36.936C98.8724 37.352 99.6324 37.56 100.512 37.56ZM109.482 39V27H111.282V29.952C111.346 29.744 111.466 29.472 111.642 29.136C111.834 28.784 112.106 28.432 112.458 28.08C112.81 27.728 113.25 27.432 113.778 27.192C114.322 26.936 114.962 26.808 115.698 26.808H115.818V28.608H115.602C114.706 28.608 113.93 28.856 113.274 29.352C112.634 29.832 112.138 30.464 111.786 31.248C111.45 32.016 111.282 32.84 111.282 33.72V39H109.482Z" />
            <path
               d="M23.0803 12H24.1371V8.8125H26.0462C28.0788 8.8125 28.995 7.5767 28.995 6.03409C28.995 4.49148 28.0788 3.27273 26.0291 3.27273H23.0803V12ZM24.1371 7.875V4.21023H25.995C27.4141 4.21023 27.9553 4.9858 27.9553 6.03409C27.9553 7.08239 27.4141 7.875 26.0121 7.875H24.1371ZM38.0611 7.63636C38.0611 4.875 36.4418 3.15341 34.2088 3.15341C31.9759 3.15341 30.3565 4.875 30.3565 7.63636C30.3565 10.3977 31.9759 12.1193 34.2088 12.1193C36.4418 12.1193 38.0611 10.3977 38.0611 7.63636ZM37.0384 7.63636C37.0384 9.90341 35.794 11.1307 34.2088 11.1307C32.6236 11.1307 31.3793 9.90341 31.3793 7.63636C31.3793 5.36932 32.6236 4.14205 34.2088 4.14205C35.794 4.14205 37.0384 5.36932 37.0384 7.63636ZM41.4233 12H42.5142L44.4403 5.04545H44.5085L46.4347 12H47.5256L49.9119 3.27273H48.8381L47.0142 10.3807H46.929L45.071 3.27273H43.8778L42.0199 10.3807H41.9347L40.1108 3.27273H39.0369L41.4233 12ZM51.2287 12H56.5639V11.0625H52.2855V8.09659H56.223V7.15909H52.2855V4.21023H56.4957V3.27273H51.2287V12ZM58.4006 12H59.4574V8.59091H61.3665C61.4432 8.59091 61.5156 8.59091 61.5881 8.58665L63.429 12H64.6562L62.6832 8.39489C63.7955 8.01562 64.3153 7.10795 64.3153 5.94886C64.3153 4.40625 63.3949 3.27273 61.3494 3.27273H58.4006V12ZM59.4574 7.63636V4.21023H61.3153C62.7301 4.21023 63.2756 4.90057 63.2756 5.94886C63.2756 6.99716 62.7301 7.63636 61.3324 7.63636H59.4574ZM66.0763 12H71.4116V11.0625H67.1332V8.09659H71.0707V7.15909H67.1332V4.21023H71.3434V3.27273H66.0763V12ZM75.9414 12C78.6005 12 80.1005 10.3466 80.1005 7.61932C80.1005 4.90909 78.6005 3.27273 76.0607 3.27273H73.2482V12H75.9414ZM74.305 11.0625V4.21023H75.9925C78.038 4.21023 79.0778 5.50568 79.0778 7.61932C79.0778 9.75 78.038 11.0625 75.8732 11.0625H74.305ZM85.2482 12H88.4016C90.4641 12 91.3164 10.9943 91.3164 9.68182C91.3164 8.30114 90.3619 7.55114 89.5607 7.5V7.41477C90.3107 7.21023 90.9755 6.71591 90.9755 5.59091C90.9755 4.3125 90.1232 3.27273 88.2994 3.27273H85.2482V12ZM86.305 11.0625V8.02841H88.4528C89.5948 8.02841 90.3107 8.79545 90.3107 9.68182C90.3107 10.4489 89.7823 11.0625 88.4016 11.0625H86.305ZM86.305 7.10795V4.21023H88.2994C89.4585 4.21023 89.9698 4.82386 89.9698 5.59091C89.9698 6.51136 89.2198 7.10795 88.2653 7.10795H86.305ZM92.3029 3.27273L95.4563 8.40341V12H96.5131V8.40341L99.6665 3.27273H98.4563L96.0359 7.34659H95.9336L93.5131 3.27273H92.3029Z" />
         </svg>
      </a>
   </div>

   <div class="page__blink-area"></div>
</body>

<script src="/js/page/render.js"></script>

</html>